package healthcheck

templ Index() {
    <html>
        <head>
        <title>Health Check</title>
        </head>
        <body>
        <h1>Health Check</h1>
        <p>Service is up and running</p>
        </body>
    </html>
}

