package healthcheck

import "go-tailwind/view/layout"

templ Index() {
    @layout.Base() {
        <div>
            <h2>Health Check</h2>
            <p>Everything is fine!</p>
        </div>
    }
}

